.footer {
    width: 100%;
    height: auto;
    background-color: #CABFBF;
    margin:0 auto;
    text-align: center;
    padding: 25px 0;
}

.join {
    float: left;
    color: white;
    font-size: 30px;
    margin: 10px 0;
}
.fb, .insta, .telegram {
    float: left;
	margin:0 23px;
}