.text-about {
	color: #CABFBF;
	font-size: 21px;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px 2px;
	margin-bottom: 30px;
}

.about-img {
	display: block;
    margin: 0 auto; 
    border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px 2px;
}
